body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: rgb(201, 154, 136);
}

*{
  font-family: 'PT Serif', serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: rgb(236, 218, 208);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin-top: 0;
  margin-left: 15px;
  color: black;
}

header h2 {
  margin: auto;
  color: black;
}

#login-form-container {
  margin: auto;
}

#login-form {
  margin-top: 50px;
  width: auto;
  background-color: rgb(234, 218, 207);
}

#main-area-container {
  margin-left: 200px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  transition: margin-left 0.5s;
}

#logout-button {
  margin-left: 200px;
  width: 80px;
  font-size: 20;
  background-color: rgb(236, 218, 208);
  color: black;
  font-weight: bold;
  font-size: medium;
}

#folder-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: rgb(233, 199, 183);
  overflow-x: hidden;
  padding-top: 20px;
}

.active, .folder:hover {
  background-color: white;
  color: #cfcfcf;
  cursor: pointer;
}

form {
  margin: auto;
  width: 177px;
  border: 1px solid black;
  padding: 20px;
  color: black;
  font-weight: bold;
  background-color: rgb(233, 199, 183);
  width: auto;
}

#create-account-form {
  background-color: rgb(234, 218, 207);
  margin-top: 50px;
}

#btn-login {
  background-color: rgb(234, 218, 207);
  color: black;
  margin-top: 20px;
  margin-left: 46px;
  width: 80px;
  height: 35px;
  border: 2px solid black;
  font-size: medium;
}

#btn-create-account {
  background-color: rgb(234, 218, 207);
  color: black;
  margin-top: 20px;
  margin-left: 18px;
  width: 140px;
  height: 35px;
  border: 2px solid black;
  font-size: medium;
}

#btn-go-to-create-account {
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  height: 60px;
  background-color: rgb(234, 218, 207);
  border: 2px solid black;
  color: black;
  font-size: medium;
}

#sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: rgb(230, 194, 170);
  overflow-x: hidden;
  padding-top: 20px;
}

#sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  cursor: pointer;
}

#itemsnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: rgb(209, 191, 179);
  overflow-x: hidden;
  margin-left: 200px;
  padding-top: 5px;
  transition: 0.5s;
}

#itemsnav a {
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  margin-top: 4px;
  display: flex;
}

#items-header {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-right: -375px;
  margin-top: 10px;
}

.active-item,
.sub-folder-nav-button:hover {
  background-color: white;
  color: #f1f1f1;
  cursor: pointer;
}

.closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 100px;
}
.closebtn:hover {
  background-color: #5c5c5c;
  cursor: pointer;
}

a img {
  width: 0.92em;
  margin-right: 0.6em;
  margin-top: 3px;
}

#pim-notes-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 24px;
  gap: 24px;
  text-align: center;
}

#custom-note-input {
  height: 200px;
  width: 239px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 135px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-size: 16px;
}

#pim-images-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 24px;
  gap: 24px;
  text-align: center;
}

#custom-image-input {
  height: 200px;
  width: 239px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 135px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.image {
  width: 100%;
  max-width: 239px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.image:hover {
  padding: 10px;
  color: #fff;
  font: 12px Georgia;
  background: rgba(0, 0, 0, 0.7);
}

#add-note {
  display: none;
}

input[type="file"] {
  display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

  /* Sound design */
#upload{
    position: absolute;
    left: 44%;
    top: 390px;
}

#audio{
    position: absolute;
    left: 40%;
    top: 300px;
}

.sound-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#render-sounds-button {
    margin: auto;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#render-sounds-button:hover {
    color: #f1f1f1;
    cursor: pointer;
}

#add-sound{
    height: 55px;
    width: 70px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
}

#pim-sound-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 24px;
    gap: 24px;
    text-align: center;

}

  /*TODO CSS*/
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: rgba(70, 90, 73, 0.842);
  color: white;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: rgb(88, 9, 9);
  color: white;
}

#pim-todo-container{
  display: block;
  position:absolute;
  top: 10%;
  left: 53%;
}

.todo-header {
  background: radial-gradient(grey,rgb(37,37,37));
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.todo-header:after {
  content: "";
  display: table;
  clear: both;
}

#myTodoInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

#clear-list{
  width: 25%;
  font-weight: bold;
  font-style: italic;
  font-size: medium;
  border-radius: 1px;
  margin: 40px 35%;
  background-color: rgb(97,97,97);
  color: white;
}

#clear-list:hover{
  box-shadow: 3px 3px rgb(37,37,37);
  color: white;
}
